.task-form-container {
  display: flex;
  flex-direction: column;
}
.task-form-container > * {
  width: 95%;
}
.button-row {
  margin-top: 30px;
  text-align: center;
}
.button-row button{
  margin-right: 8px;
}