<h2>Liste des équipes du projet</h2>


<!-- Equipe sélectionnée -->
<p *ngIf="displaySelectedTeam">
  L'équipe sélectionnée est : {{ selectedTeamName }}
</p>


<!-- Liste des équipes (sans service)
<app-team-card [team]="teamQuiproquos"></app-team-card>
<app-team-card [team]="teamTricoteuses"></app-team-card>
<app-team-card></app-team-card>
 -->

<!-- Liste des équipes (avec service) -->
<app-team-card *ngFor="let team of teamService.teamList" [team]="team" (onSelect)="selectTeam($event)">
</app-team-card>