<h1>Liste des équipes du projet</h1>


<!-- Message "Evaluation" -->
<app-team-evaluation-message [evaluationMessage]="evaluationMessage"></app-team-evaluation-message>


<!-- Liste des équipes (sans service)
<app-team-card [team]="teamQuiproquos"></app-team-card>
<app-team-card [team]="teamTricoteuses"></app-team-card>
<app-team-card></app-team-card>
 -->

<!-- Liste des équipes (avec service) -->
<app-team-card *ngFor="let team of teamService.teamList" [team]="team" (evaluate)="displayEvaluation($event)">
</app-team-card>